<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="copy">
<!--Home page style-->

            <nav class="navbar navbar-default bootsnav navbar-fixed white no-background" style="border-bottom: solid 1px #e0e0e0;background-color: #fff;">
                <div class="container">  

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="http://www.pan00.com">
                            <img src="https://pan00-static.oss-cn-shenzhen.aliyuncs.com/assets/images/pan_logo.jpg" class="logo logo-display" alt=""  width='90' height='46'>
                            <img src="https://pan00-static.oss-cn-shenzhen.aliyuncs.com/assets/images/pan_logo.jpg" class="logo logo-scrolled" alt="" width='90' height='46'>
                        </a>

                    </div>
                    <!-- End Header Navigation -->

                    <!-- navbar menu -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-center">
                             <li><a href="http://www.pan00.com">盘零零首页</a></li>
                             <li><a href="http://www.pan00.com/ziyuan">百云资源</a></li>
                             <li><a href="http://www.pan00.com/make">分享链接</a></li>
                             <li><a href="http://www.pan00.com/yun">云盘链接</a></li>
                             <li><a href="http://www.pan00.com/wangpan">网盘链接</a></li>
                             <li><a href="http://www.pan00.com/tieba">精彩贴吧</a></li>
                             <li><a href="http://www.pan00.com/tiezi">精选帖子</a></li>
                             <li><a href="http://www.pan00.com/star">网红咖姬</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>   
          </nav>
	</div>
</body>
</html>
